<div class='col-md-6'>
  <h3>Our Story</h3>
  <div class='pic'>
    <img id='about-us' src='./images/Pic 4.jpg' />
  </div>
  <p>
    PushProgress is the product of four full-stack web developers who had a
    vision of combining their many sports, workouts, and activities into a
    comprehensive plan for progress! Our database is designed to log the full
    spectrum of physical activities our users enjoy.
  </p>
  <p>Future updates will allow users to track your progress within individual
    activities (weight training, bicycling, etc.) and also across all
    activities. You will be able to personalize your profile page, connect with
    other users, and import workout data from other major fitness apps.
  </p>
</div>