<body>
  <header>
    <h1> PushProgress </h1>
    <div class='pic'>
      <img id='hero' src='/assets/images/Pic 1.jpg' />
    </div>
  </header>
  <main>
    <section class='section1'>
      <h2> Login</h2>
      <form class='form'>
        <label>Username</label>
        <input type='text' required />
        <label>Password</label>
        <input type='text' required />

        <button id='submit' class='btn'>Submit</button>
      </form>
    </section>
  </main>

</body>
<footer>
  <ul>
    <h6> Copyright &copy; PushProgress </h6>
    <li class='liItem'>Contact the PushProgress Team:</li>

    <li class='liItem'><a href='https://github.com/rennancruz'>Rennan Cruz</a></li>
    <li class='liItem'><a href='https://github.com/nairaD08'>Naira Davtyan</a></li>
    <li class='liItem'><a href='https://github.com/AladinTork'>Arman Tork</a></li>
    <li class='liItem'><a href='https://github.com/TJWphd'>Thomas White</a></li>
  </ul>
</footer>