<div class='pic'>
  <img id='hero' src='/images/pic 2.png' />
</div>
<div class='auth-container'>
  <div class='form-container'>
    <h1 id='form-title'>Login</h1>
    <form id='auth-form'>
      <div class='input-group'>
        <label for='username'>Username</label>
        <input type='text' id='username' required />
      </div>
      <div class='input-group'>
        <label for='password'>Password</label>
        <input type='password' id='password' required />
      </div>
      <button type='submit' id='submit-btn'>Login</button>
    </form>
    <p id='switch-text'>
      Don't have an account?
      <a href='#' id='switch-link'>Sign Up</a>
    </p>
  </div>
</div>

<script src='/js/auth.js'></script>
<script src='/js/login.js'></script>